a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: 0px auto ;
  outline-offset: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mt-20 {
  margin-top: 20px;
}
body {
  width: 100%;
  height: 1500px;
}
body .box {
  width: 100%;
  height: 100%;
}
body .box .aside-left {
  position: fixed;
  width: 180px;
  height: 100%;
  background-color: #222d32;
  left: 0;
  top: 0;
  z-index: 99;
  transition: all 1s;
}
body .box .aside-left.current {
  transform: translateX(-180px);
}
body .box .aside-left h3 {
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: #367fa9;
  line-height: 50px;
  text-align: center;
}
body .box .aside-left h3 a {
  color: #fff;
}
body .box .aside-left .user-photo {
  text-align: center;
  padding-top: 30px;
}
body .box .aside-left .user-photo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
body .box .aside-left .user-photo p {
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
body .box .aside-left ul li {
  padding-left: 40px;
  border-left: 3px solid rgba(0, 0, 0, 0);
}
body .box .aside-left ul li.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
body .box .aside-left ul a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
body .box .aside-left ul a i {
  margin-right: 5px;
}
body .box .aside-left ul .classify {
  height: 40px;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}
body .box .aside-left ul .classify i {
  margin-right: 5px;
}
body .box .aside-left ul .list {
  display: none;
  padding: 0;
  border-left: none;
}
body .box .aside-left ul .list.falg {
  display: block;
}
body .box .aside-left ul .list p {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  border-left: 3px solid rgba(0, 0, 0, 0);
}
body .box .aside-left ul .list p.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
body .box .content {
  width: 100%;
  height: 100%;
  background-color: yellow;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
}
body .box .content.current {
  padding-left: 0;
}
body .box .content .content-header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #3c8dbc;
  top: 0;
  left: 0;
  padding-left: 180px;
  transition: all 1s;
}
body .box .content .content-header.current {
  padding-left: 0;
}
body .box .content .content-header a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
body .box .content .content-info .info-left,
body .box .content .content-info .info-right {
  height: 400px;
  width: 48%;
  background-color: pink;
}
body .modal-content .modal-body p {
  color: #a94442;
}
